*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    
}

html{
    scroll-behavior: smooth;
}

.div-section{
    display: flex;
/* <<<<<<< HEAD */
    background:url(../imagem/eu-noBACK.png) no-repeat ;
/* ======= */
    background:url(../imagem/eu-noBackground.png) no-repeat ;
/* >>>>>>> ef411d05e7dc8e2f948a18a40cff588279d91d60 */
    background-position: center center;
    background-size: contain;
    width: 100%;
    min-height: 500px;
    max-width: 1200px;
    margin: auto;
}
.img{
    display: flex;
    justify-content:flex-end;
    align-items: start;
    
}
.img h1{
    font-size: 70pt;
    font-family: monospace;
    letter-spacing: 40px;
    color:#152121 ;
    position: relative;
    z-index: 1000;
    rotate: -90deg;
    margin-top: 150px;
   
    
}
.sub{
    display: flex;
    justify-content: end;
    align-items: end;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    
}
.s1{
    font-size: 100pt;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #2F4D50;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding-left: 70px;
    
}

.s2{
    font-size: 50pt;
    font-family: monospace;
    color: #152121;
    overflow: hidden;

}

.s3{
    font-size: 50pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: #152121;

}

nav{
    background-color: #152121;
    color: white;
    height: 50px;
}
nav ul{
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 100%;
    max-width: 1200px;
    margin: 0 auto;
}
nav ul li a{
    text-decoration: none;
    color: inherit;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20pt;
    padding: 5px;
    border-radius: 10px;
    transition: text-decoration 2s;
    
}

nav ul li a:hover{
    background-color: #263e41;
    transition: 0.5s;

}

/* a:hover{
    text-decoration: underline;
    color: #ffffff;
    padding: 5px;
} */

.Skilss{
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
    padding-bottom: 50px;
}

.Skilss img {
    width: 150px;
    height: 150px;
}

.git{
    background-color: #FFF;
    border-radius: 50%;
}

main{
    padding-top: 50px;
    background-color: #263e41;
    
    
}
.sobre{
    background-color: #263e41;
    height: auto;
    padding-bottom:50px ;
    
    
}
.title-sobre{
    display: flex;
    align-items: start;
    margin: 0 auto;
    flex-direction: column;
    font-size: 35pt;
    font-family: Arial, Helvetica, sans-serif;
    color: #fff;
    padding-top: 25px;
    width: 100%;
    height:auto;
    max-width: 1200px;
    position: relative;
    z-index: 1;
}
.title-sobre h2{
    font-size: 35pt;

}
.container-sobre{
    background-color: #152121;
    width: 100%;
    color: #ffffff;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 25px;
    text-indent: 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.img-sobre{
    display: flex;
    width: 100%;
}

.img-sobre img{
    width: 250px;
    margin: 15px;
    border-radius: 10px;
    box-shadow: 0 0 50px 2px #6d8588;
}
.container-sobre p{
    font-size: 16pt;
    line-height: 35px;
    padding: 25px;
    text-align: justify;
    width: 75%;
}
.paragrafo-sobre{
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 30pt ;
}

.paragrafo-sobre h2{
    font-size: 45pt;
}

.projetos{
    display: flex;
    justify-content: space-around;
    align-items: start;
    flex-direction: column;
    background-color: #152121;
    padding-bottom: 50px;
    height: 500px;
    color: #fff;
    
    
}
.projetos h2{
    font-size: 35pt;
    font-family: Arial, Helvetica, sans-serif;
    
    
}
.limit{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    
    
}

.project{
    display: flex;
    justify-content: end;
    gap: 10px;
    align-items: center;
    border-radius: 5px;
    background-color: #FFF;
    width: 250px;
    height: 300px;
    flex-direction: column;
    color: #112525;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

.limit-title{
     max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: start;
    align-items: flex-start;
    width: 100%;
}

.project button{
    background-color: #2F4D50;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    border-radius: 4px;
    border: none;
    width: 90%;
    height: 46px;
    margin-bottom: 10px;
    box-shadow: 0 0 5px 2px black;
}

.project button:hover{
    background-color: #263e41;
    transition: 0.5s;
/* <<<<<<< HEAD */
    font-size: 16pt;
    color: #FFF;
}

.project h3{
    padding-top: 5;
}

button:disabled{
    background-color: #ccc;
    color: #666;
    cursor: not-allowed;
}

.project img{
    width: 220px;
    height: 200px;
    border-radius: 5px ;
    filter: grayscale(100%);
    transition: filter 0.3s ease;
    object-fit: cover;
}

.project img:hover{
    filter: grayscale(0%);
    background-image: url(../imagem/image.png);
/* ======= */
/* >>>>>>> ef411d05e7dc8e2f948a18a40cff588279d91d60 */
}

footer{
    background-color: #263e41;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    overflow: hidden;
}
.left{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
}

.left a{
    background-color: #459e11;
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: bold;
    display: inline-block;
    
}

.right{
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 1px;
    font-size: 11pt;
}
.limit-footer{
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    width: 100%;
    border-top:1px solid #FFF;

}
.wpp{
    position: fixed;
    top:20px;
    left: 20px;
    z-index: 1000;
}

.wpp img{
    width: 50px;
    height: 50px;

}

.scroll{
    width: 100%;
    overflow: hidden;
    max-width: 1200px;
    margin: 0 auto;
/* <<<<<<< HEAD */
    mask: linear-gradient(to right, transparent, #000000 50%, rgb(0, 0, 0), 85%, transparent);
/* ======= */
    mask: linear-gradient(to right, transparent, #ce0b0b 50%, red, 85%, transparent);
/* >>>>>>> ef411d05e7dc8e2f948a18a40cff588279d91d60 */
}

.scroll_container{
    display: flex;
    width: max-content;
    animation: scrollLeft 20s linear infinite;
}

.skill {
  flex-shrink: 0;
  margin: 0 2em;
  width: 50px;
  height: auto;
}

/* <<<<<<< HEAD */
.contact{
    display: flex;
    justify-content: center;
    align-items: end;
    padding-bottom: 20px;
    height: 150px;
    background-color: #263e41;
    gap: 50px;
    
}

#rede {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    color: #FFF;
    gap: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;

}

#rede img{
    width: 45px;
    height: auto;
}
/* #icon{
    animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
} */


/* =======
>>>>>>> ef411d05e7dc8e2f948a18a40cff588279d91d60 */
@keyframes scrollLeft{
    0%{
        transform: translateX(0);
    }
    100%{
        transform: translateX(-50%);
    }
}

@media  (min-width: 481px) and (max-width: 768px){
    *{
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }
    .div-section{
        display: flex;
        background: url(../imagem/eu-noBACK.png)no-repeat;
        background-position: center top;
        width: 100%;
        height: 50vh;
        
        
    }
    .img{
        display: flex;
        justify-content: start;
        align-items: top;
    }
    .img h1{
        font-size: 60px;
        letter-spacing: 25px;
    }

    .sub{
        justify-content: start;
        
    }

    .s1{
        font-size: 65pt;
        padding-left: 0;
    }

    .s2{
        font-size: 40pt;
        padding-left: 50px;
    }



    nav{
        height: 30px;
    }
    .mobile-hide{
        display: none;
    }

    nav ul li a{
        font-size: 14pt;
        padding: 3px;
        border-radius: 5px;
    }

    main{
        padding-top: 25px;
    }

    .sobre{
        padding-bottom: 30px;
    }

    .title-sobre{
        width: 90%;
    }

    .title-sobre h2{
        font-size: 20pt;
    }
    .container-sobre{
        padding: 15px;
        border: 10px;
    }
    .container-sobre p{
        width: 100%;
        line-height: 30px;
        text-align: justify;
        font-size: 13pt;

    }

    .paragrafo-sobre {
        align-items: start;
    }
    
    .Skilss img{
        width: 100px;
        height: 100px;
    }
    .projetos{
        height: auto;
        padding-top:25px;
    }

    .projetos h2{
        font-size: 30pt;
        margin-bottom: 20px;
        margin-left: 20px;
        text-shadow: none;
    }

    .project{
        width: 150px;
        height: 200px;
        justify-content: space-around;
    }

    .projetos img{
        width: 120px;
        height: 100px;
    }

    .project button{
        height: 25px;
        font-size: 14pt;
        box-shadow: 0 0 6px 0.5px black;

    }
    .project h3{
        font-size: 10pt;
    } 

    body, html{
        overflow-x: hidden;
        width: 100%;
    }
    
}

@media(max-width: 1200px) {
    .title-sobre{
        padding-left: 15px;
        padding-right: 15px;
    }
    .project button{
        height: 25px;
        font-size: 14pt;
        box-shadow: 0 0 6px 0.5px black;

    }
    .limit-title{
        padding-left: 15px;
    }
    
}









/* @keyframes pulse {
  0%, 100% {
    opacity: 1;
  }
  50% {
    opacity: .5;
  }
} */